:root {
  --background-color-one: #f5f4fa;
  --background-color-two: #2f303a;
  --color-hover: #2196f3;
  --color-main-text: #212121;
  --color-contrast-text: #ffffff;
  --color-address-text: #757575;
}
html {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  font-size: 14px;
}

.nav {
  font-weight: 500;
  font-size: 14px;
}
.nav a {
  color: var(--color-main-text);
  text-transform: capitalize;
}

.nav a:hover,
:focus {
  color: var(--color-hover);
}

.address a {
  font-size: 14px;
  color: var(--color-address-text);
}

.address a:hover,
:focus {
  color: var(--color-hover);
}

.hero {
  background-color: var(--background-color-two);
}

.hero h1 {
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: var(--color-contrast-text);
  font-weight: 900;
  font-style: normal;
  letter-spacing: 2px;
}

.hero div {
  text-align: center;
}

.button {
  background-color: var(--color-hover);
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  color: var(--color-contrast-text);
}
ul {
  list-style-type: none;
}

h2 {
  display: none;
}

.futures-conteiner li {
  width: 270px;
}

.futures-conteiner span {
  color: var(--color-address-text);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.06 em;
}

.futures p {
  font-weight: 700;
  text-transform: uppercase;
}

.what-we-do {
  font-size: 36px;
}

.team {
  background-color: var(--background-color-one);
}

figure {
  width: 270px;
  background-color: var(--color-contrast-text);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

figcaption {
  text-align: center;
}

.team h3 {
  font-size: 36px;
  line-height: 1.17;
}

.team p {
  font-size: 16px;
  font-weight: bold;
}

.filter button {
  background-color: var(--background-color-one);
  color: var(--color-main-text);
  border-radius: 4px;
  border-style: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
}

.filter button:hover,
:focus {
  color: var(--color-contrast-text);
  background-color: var(--color-hover);
  border-radius: 4px;
}

.portfolio figure {
  width: 370px;
}

.portfolio figcaption {
  text-align: left;
}

.portfolio p {
  color: var(--color-main-text);
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
}

.filter button {
  background-color: var(--background-color-one);
}

footer {
  padding: 60px 15px;
  background-color: var(--background-color-two);
}
.footer-address {
  font-size: 14px;
  line-height: 1.71;
  color: var(--color-contrast-text);
}

.footer-address a {
  display: inline-block;
  color: var(--color-address-text);
}

.footer-address span {
  display: inline-block;
}

.footer-address a:hover,
:focus {
  color: var(--color-hover);
}
